.header{
    background-color: $dark-blue;
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
}

.header_title{
    font-size: 3.2rem;
    margin: 0;
}
.header_sub{
    color: $light-blue;
    font-weight: 500;
    font-size: medium;
    margin: 0;
}